.top-menu{
	position: fixed;
	top: 0px;
	width: 100%;
	min-width: 970px;
	height: 70px;
	background-color: #242424;
	border: 10px;
	z-index: 1000;
	overflow: hidden;
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow: 1px 2px 6px #111111;
	-webkit-box-shadow: 1px 2px 6px #111111;
	box-shadow: 1px 2px 6px #111111;
}
.top-menu > ul{
	position: relative;
	float: right;
	right: 30px;
	list-style:none;
    margin:0;
    padding:0;
}	
.top-menu > ul > li{
	margin-left: 5px; 
    border : 0;
   	width: 150px;
    float: left;
    cursor:pointer;
}
.top-menu > ul > li:first-child{   width: 100px;}
.top-menu > ul > li:nth-child(2){  width: 100px;}
.top-menu > ul > li:nth-child(3){  width: 100px;}
.top-menu > ul > li:nth-child(4){  width: 100px;}
.top-menu > ul > li:nth-child(5){  width: 120px;}
.top-menu > ul > li:nth-child(6){  width: 130px;}
.top-menu > ul > li:nth-child(7){  width: 80px;} 
.top-menu > ul > li > p{
	color: #ffffff;
	font-size: 15px;
	line-height: 70px;
	font-weight: 500;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}
.top-menu > ul > li > p:hover{
	color: #77c4bc;
}
.top-menu > ul > li > p > i{
	font-weight: 0;
	color: #777;
}
.top-menu > ul > li > p > i:hover{
	color: #ccc;
}
.logo{
	position: relative;
	background: url(../img/header/h_logo.png) repeat-X;
	width: 127px;
	height: 37px;
	float: left;
	left: 60px;
	vertical-align: middle;
	position: relative;
	top: 17px;
}
.change-menu01-sub{
	position : relative;
	float: left;
	top: -40px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 600;
	display: none;
}
.pointer{
	position: relative;
	top: -15px;
	float: left;
	background-color:#010101;
	display: none;
	margin-left: 30%;
	border-color: transparent transparent #fff;
	border-style: solid;
	border-width: 0 20px 20px;
	height: 0;
	width: 0;
}
.select-pointer{
	position: relative;
	top: -15px;
	float: left;
	background-color:#010101;
	margin-left: 5%;
	border-color: transparent transparent #77c4bc;
	border-style: solid;
	border-width: 0 40px 40px;
	height: 0;
	width: 0;
}
