<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<mappers>
		<mapper resource="/config/consult-mapper.xml"/>
		<mapper resource="/config/deposit-mapper.xml"/>
		<mapper resource="/config/sample-mapper.xml"/>
		<mapper resource="/config/community-mapper.xml"/>
		<mapper resource="/config/partner-mapper.xml"/>
		<mapper resource="/config/scheduler-mapper.xml"/>
	</mappers>
</configuration>